<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR" monitorInterval="5">
    <Properties>
        <Property name="pattern">%highlight{%d{yyyy-MM-dd hh:mm:ss} [%p]: %m%n}</Property>
    </Properties>
    <Appenders>
        <Console name="console_error" target="SYSTEM_ERR">
            <PatternLayout pattern="${pattern}"/>
        </Console>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>

        <RollingFile name="file" filePattern="logs/%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>${pattern}</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="error_logger" level="error" additivity="false">
            <AppenderRef ref="console_error"/>
            <AppenderRef ref="file"/>
        </Logger>
        <Root level="trace">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>
